# Optional. If omitted, Compose mounts ./models from this repository.
# Windows example: MODELS_DIR=C:/Users/TM/projekte/turboquant-setup/models
# CachyOS example: MODELS_DIR=/home/tm/projekte/turboquant-setup/models
MODELS_DIR=./models
